
<h1>Página sendo exibida ALUNOS</h1>

<ul>
    <% for(var i=0; i<alunos.lenght ; i++) {%>
        <li>
            Nome: <%= alunos[i].name %>
        </li>
        <li>
            Idade: <%= alunos[i].email %>
        </li>
        <% } %>
</ul>