<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Includes EJS</title>
</head>
    <style>
        .menu-item{
            display: inline;
            margin: 0 10px 0 10px;
        }
        p.a {
        padding-top: 40px;
        text-align: center;
        font-size: xx-large;
        }
        .btn {
          width: 90px;
          height: 20px;
        }
  </style>
</head>

<body>
  <header>
    <section>
      <p class=a>Listagem de AVALIAÇÕES</p>
    </section>
  </header>

  <main>
    <div>
      <section>
        <table 
        width="90%" border="1px" bgcolor="lightblue" bordercolor="white" cellpadding="10" align="center"
        >
            <thead>
              <tr>
                <th width="40%">ID_GRUPO</th>
                <th width="40%">AVALIADOR</th>
                <th width="20%">NOTA</th>
              </tr>
            </thead>
          <tbody bgcolor="white" align="center" >
              <% for(var i=0; i< avaliacao.length ; i++) {%>  
              <tr >
                    <td><%= avaliacao[i].id_grupo %></td>
                    <td><%= avaliacao[i].avaliador %></td>
                    <td><%= avaliacao[i].nota %></td>
                    <td>
                      <button class="btn"><i class="fa fa-user-times">Update</i></button>
                      <button class="btn"><i class="fa fa-user-secret">Delete</i></button>
                  </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </section>
    </div>
  </main>
</body>

</html>