<h1>Página sendo exibida ESTANDES</h1>

<ul>
    <% for(var i=0; i<estande.lenght ; i++) {%>
        <li>
            Grupo: <%= estande[i].id_grupo %>
        </li>
        <li>
            Idade: <%= estande[i].dataHora %>
        </li>
        <% } %>
</ul>