<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Home</title>
  <style>
    .menu-item{
        display: inline;
        margin: 0 10px 0 10px;
    }
    .a {
    padding-top: 40px;
    text-align: center;
    font-size: x-large;
    }
    .b{
        padding-top: 2px;
        text-align: justify;
        padding-left: 50px;
        padding-right: 50px;
        
    }
</style>
</head>

<body>

<div class="a" >
  <h1>HOME</h1>
</div>



<div> 
<h2 class="b"> MiniMundo</h2>
<p class="b" >
    O Inova Week é um projeto de inovação feito pela universidade vila velha, que tem como principal objetivo promover que os alunos vendam suas ideias criativas. O evento acontece durante 3 dias, onde 
    diferentes grupos apresentam no decorrer desses dias. Cada grupo deve ter um nome e ser formado por 4 alunos, sendo um deles o lider. Os grupos recebem o número do estande e o dia da apresentação. 
    Já os alunos devem ter seu Nome, email e qual grupo ele está inserido. As avaliações podem ser feitas tanto por alunos,com exceção do qual está participando, quanto por professores. 
    A avaliação terá os seguintes critérios: modelo economico receberá até 1 ponto, viabilidade até 2 pontos, inovação até 4 pontos, implementação e prototipação até 3 pontos e por fim a apresentação até 2 
    pontos. Ao final do Inova Week os grupos irão receber a nota final das avaliações dadas somente pelos professores.
</p>
</div>



</body>

</html>
