<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Includes EJS</title>
</head>
    <style>
        .menu-item{
            display: inline;
            margin: 0 10px 0 10px;
        }
        p.a {
        padding-top: 40px;
        text-align: center;
        font-size: xx-large;
        }
  </style>
</head>

<body>
  <header>
    <section>
      <p class=a>Listagem de Professores</p>
    </section>
  </header>

  <main>
    <div>
      <section>
        <table 
        width="90%" border="1px" bgcolor="lightblue" bordercolor="white" cellpadding="10" align="center"
        >
            <thead>
              <tr>
                <th width="25%">ID</th>
                <th width="40%">EMAIL</th>
                <th width="35%">NOME</th>
              </tr>
            </thead>
          <tbody bgcolor="white" align="center" >
            <% for(var i=0; i< (professor.length); i++) {%>  
              <tr >
                    <td><%= professor[i].id %></td>
                    <td><%= professor[i].email %></td>
                    <td><%= professor[i].name %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </section>
    </div>
  </main>

  <footer>
    <h6>Trabalho POO2</h6>
  </footer>
</body>

</html>
